html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    margin: 0;
}

.spacing{
    padding-top: 80px;
}

.navbar {
    height: 100px;
}

.header{
	text-align:center;
    background:url(../img/design.png) left top repeat;
    padding: 280px 0;
    background-position: center center;
    height: 100%;
}

.logo{
    width:130px;
    margin:0 auto 35px;
}

.header h1{
	font-family: 'Montserrat',sans-serif;
	font-size:50px;
	font-weight:400;
	letter-spacing: -1px;
	margin:0 0 22px 0 ;
	color:#fff;
}

.we-create li{
	display:inline-block;
	font-family: 'Montserrat',sans-serif;
	font-size:14px;
	color: #bcbcbc;
	font-weight: 400;
	margin:0 5px 0 0;
	padding:0 0 0 15px;
}

.we-create {
    padding: 10px;
}


.body {
	background-color: #121212;
}

.flex-container {
	width: 100vw;
	margin-top: 100px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.input-details {
	border: none;
	border-bottom: solid rgb(143, 143, 143) 1px;
	margin-bottom: 20px;
	height: 40px;
	width: 350px;
	background: none;
	color: rgba(245, 227, 194, 0.945);
}
.content-container {
	width: 500px;
	height: 900px;
}

.form-container {
	width: 500px;
	height: 900px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	background-color: #1f1f1f;
}


.form-container h1{
	color: white;
	font-size: 40px;
	font-weight: 600;
	font-family: sans-serif;
}

.subtitle {
	color: rgba(180, 180, 180, 0.7);
  	font-size: 15px;
}

.submit-btn {
	background-color: #38d39f;;
	border-radius: 10px;
	border: none;
	overflow: hidden;
	color: white;
	width: 80px;
	height: 60px;
}

.submit-btn:hover{
	box-shadow: 2px 2px 2px #55acee;
}

.login-form-container {
	width: 500px;
	height: 600px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	background-color: #1f1f1f;
}

.login-form-container h1{
	color: white;
}

.guest-form-container {
	width: 500px;
	height: 550px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	background-color: #1f1f1f;
}

.guest-form-container h1{
	color: white;
}

.checkout-form-container {
	width: 500px;
	height: 600px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	background-color: #1f1f1f;
}

.checkout-form-container h1{
	color: white;
}