{% extends 'base/base.html' %}


{% block title %}Guest{% endblock %}
{% load widget_tweaks %}
{% block content %}
<!-- SignUpForm -->


<div class="flex-container ">
    <div class="content-container">
            <div class="wrong">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{message}}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        <div class="container">
            <div class="row">
                <div class="col" style="text-align: left;">
                    <a href="{% url 'god:client' %}"> Go Back and Check In</a>
                </div>
            </div>
        </div>



        <div class="form-container"> 
            <form action="{% url 'god:checkout' %}" method="POST">
                    {% csrf_token %}
                    <h3 style="color:white;">We hope it was a good meeting </h3><br><br>
                    {% for field in form %}
                        <p>
                        <span class="subtitle">{{field.label_tag}}</span><br>
                        {{field|add_class:'input-details'}}
                        {% if field.help_text %}
                            <small style="display:none;">{{filed.help_text}}</small>
                        {% endif %}
                        
                        {% for error in field.errors %}
                            <p style="color:red;">{{error|escape}}</p>
                        {% endfor %}
                    {% endfor %}
                    <br><button type="submit" class="submit-btn" name="checkout" value="checkout">Exit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}